.page3-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.tittle3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: bahnschrift, sans-serif;
}

.tittle3-dialogue {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 300;
    color: rgba(0, 0, 0, 0.71);
}

.tittle3-name {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 400;
    color: #2C2C2C;
}

.tittle3-name-mobile {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 500;
    color: #2C2C2C;
}

.project-items-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tittle3-name-mobile {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 500;
    color: #2C2C2C;
}