.project-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: 225px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid #2C2C2C;
    border-top: 1px solid #2C2C2C;
    border-left: 1px solid #2C2C2C;
    box-sizing: border-box;
}

.content-background {
    box-sizing: border-box;
    width: 100%;
    height: 281px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border-right: 1px solid #40444C;
    border-bottom: 1px solid #40444C;
    border-left: 1px solid #40444C;
    background: #2c2c2cd6;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.project-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: Bahnschrift, sans-serif;
}

.project-tittle {
    font-size: clamp(24px, 3vw ,32px);
    font-weight: 400;
    color: #F7F7F7;
}

.project-desc {
    font-size: clamp(18px, 3vw ,20px);
    font-weight: 300;
    color: rgba(247, 247, 247, 0.74);
}

.project-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
}

.project-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    gap: 8px;
}

.project-tag .tag {
    font-size: 13px;
    color: #2C2C2C;
    font-family: 'Assistant', sans-serif;
    background-color: #F7F7F7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
}

.project-tag .tag-plus {
    font-size: 13px;
    color: #2C2C2C;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(255, 255, 255, 0.041);
    border: 1px solid #F7F7F7;
    color: #F7F7F7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
}

.project-redirect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.project-redirect a {
    font-family: Bahnschrift, sans-serif;
}

.disabled {
    color: #686d76;
}

.enabled {
    color: #F7F7F7;
}

.disable {
    display: none;
}

.project-content-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.content-background-mobile {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #2c2c2cd6;
}

.project-item-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    width: 100%;
}