.page1 {
  height: 100vh;
  max-height: 750px;
  min-height: 750px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  gap: 10px;
  flex-wrap: wrap;
}

.page1-wave-mobile {
  position: relative;
  height: 150px;
  width: 100vw;
}

.page1-wave-desktop {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  max-height: 750px;
  min-height: 750px;

}

.page1-mobile {
  /* height: 100vh; */
  width: 100vw;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 0 0;
}