.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.content1 {
  width: 350px;
  height: 480px;
  background-color: #40444C;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  color: #F7F7F7;
}

.content1 .pfp {
  width: 100%;
  height: 310px;
  background-color: #F7F7F7;
  border-radius: 10px;
  background: url(/LeeHooni.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  font-family: 'Alata';
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.card-content .card-number {
  font-size: 14px;
  font-weight: 400;
}

.card-content .card-name {
  font-size: 32px;
  font-weight: 400;
}

.card-barcode {
  background: url(/barcode.png);
  width: 262px;
  height: 30px;
}

.content2 {
  max-width: 480px;
  font-family: bahnschrift, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro .intro-desc {
  /* font-size: 32px; */
  font-size: clamp(24px, 3vw ,32px);
  font-weight: 350;
  color: #000;
}

.name .name-dialogue {
  /* font-size: 24px; */
  font-size: clamp(18px, 3vw ,24px);
  font-weight: 300;
  color: rgba(0, 0, 0, 0.71);
}

.name .name-name {
  /* font-size: 64px; */
  font-size: clamp(32px, 6vw ,64px);
  font-weight: 600;
  color: #000;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.social-tittle {
  /* font-size: 24px; */
  font-size: clamp(18px, 3vw ,24px);
  font-weight: 350;
  color: rgba(44, 44, 44, 0.85);
}

.social .social-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.social-link .social-link-logo {
  /* width: 35px; */
  width: clamp(26px, 3vw, 35px);
  /* height: 35px; */
  height: clamp(26px, 3vw, 35px);
  opacity: 85%;
}

.social-link .social-link-tittle a {
  /* font-size: 20px; */
  font-size: clamp(16px, 3vw ,20px);
  font-weight: 350;
  color: rgba(44, 44, 44, 0.85);
}

.instagram {
 background: url(/instagram.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

.email {
 background: url(/email.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

@media (max-width: 800px) {
  .content1 {
    display: none;
  }
}

@media (max-width: 625px) {

}

@media (max-width: 400px) {
  
}