@import url('https://fonts.cdnfonts.com/css/alata');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background: url(/dotted.png);
  width: 100%;
  height: 200vh;
}

.overlay {
  background: url(/noise.png);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pages {
  /* padding-bottom: -50px; */
}

.page-plus {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #2C2C2C;
  z-index: 0;
  margin-top: -100px;
}

/* Temp */
.temp {
  display: none;
}

