@import url('https://fonts.cdnfonts.com/css/alata');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 200vh;
}

a {
  text-decoration: none;
}

.page1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  gap: 10px;
  flex-wrap: wrap;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.content1 {
  width: 350px;
  height: 480px;
  background-color: #2C2C2C;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  color: #F7F7F7;
}

.content1 .pfp {
  width: 100%;
  height: 310px;
  background-color: #F7F7F7;
  border-radius: 10px;
  background: url(/LeeHooni.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  font-family: 'Alata';
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.card-content .card-number {
  font-size: 14px;
  font-weight: 400;
}

.card-content .card-name {
  font-size: 32px;
  font-weight: 400;
}

.card-barcode {
  background: url(/barcode.png);
  width: 262px;
  height: 30px;
}

.content2 {
  width: 480px;
  font-family: bahnschrift, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro .intro-desc {
  font-size: 32px;
  font-weight: 350;
  color: #000;
}

.name .name-dialogue {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.71);
}

.name .name-name {
  font-size: 64px;
  font-weight: 600;
  color: #000;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.social-tittle {
  font-size: 24px;
  font-weight: 350;
  color: rgba(44, 44, 44, 0.85);
}

.social .social-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.social-link .social-link-logo {
  width: 35px;
  height: 35px;
}

.social-link .social-link-tittle a {
  font-size: 20px;
  font-weight: 350;
  color: rgba(44, 44, 44, 0.85);
}

.instagram {
 background: url(/instagram.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.discord {
 background: url(/discord.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.wave {
}

#wave1 {
  background: url(/Vector-1.svg);
  background-repeat: repeat-x;
  
  width: 100%;
  height: 110.33px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  filter: drop-shadow(0px -0.5px 0.5px #2C2C2C);
}

#wave2 {
  background: url(/Vector-2.svg);
  background-repeat: repeat-x;
  
  width: 100%;
  height: 145px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  filter: drop-shadow(0px -0.5px 0.6px #929AAB);
}

#wave3 {
  background: url(/Vector.svg);
  background-repeat: repeat-x;
  
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 8;
  filter: drop-shadow(0px -0.5px 0.7px #EEEEEE);
}

.page2 {
  position: absolute;
  top: calc(100vh - 15px);
  width: 100vw;
  height: 100vh;
  background-color: #2C2C2C;
  z-index: 11;
}