@import url('https://fonts.cdnfonts.com/css/alata');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}