@import url('https://fonts.cdnfonts.com/css/alata');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background: url(/dotted.png);
  width: 100%;
  height: 200vh;
}

.overlay {
  background: url(/noise.png);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pages {
  /* padding-bottom: -50px; */
}

.page-plus {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #2C2C2C;
  z-index: 1;
  text-align: center;
  line-height: 165px;
  overflow-y: hidden;
  margin-top: -100px;
  color: rgba(255, 255, 255, 0.781);
}

.filler {
  height: 1px;
  width: 10px;
}

/* Temp */
.temp {
  display: none;
}

